body {
  overflow-x: hidden;
}

:root {
  --textbox-height: 110px;
  --textbox-font-size: 24px;
}

@media screen and (max-width: 767px) {
  .nav-item span {
    display: none !important;
  }
}

table td, table th {
  white-space: nowrap;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textbox {
  height: var(--textbox-height);
  font-size: var(--textbox-font-size);
}

.textbox-row > span {
  display: inline-block;
  padding: 0 5px;
}

.highlight {
  background-color: var(--bs-gray-400);
}

.highlight-wrong {
  background-color: red;
}

.wrong {
  color: var(--bs-red);
}

.correct {
  color: #009e55;
}

.textbox > .textbox-row {
  position: relative;
}

.result .card-body li:nth-child(4) span:last-child {
  color: var(--bs-green);
}

.result .card-body li:nth-child(5) span:last-child {
  color: var(--bs-red);
}